* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.row {
  --bs-gutter-x: 0rem;
}
body {
  font-family: 'Days One', sans-serif;
  overflow-x: hidden;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
@-webkit-keyframes mymoveFirst {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* можно назвать "шаг 2" */
  100% {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes mymoveFirst {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* можно назвать "шаг 2" */
  100% {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.rotate-360 {
  -webkit-animation: mymoveSecond;
          animation: mymoveSecond;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
@-webkit-keyframes mymoveSecond {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* можно назвать "шаг 2" */
  100% {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes mymoveSecond {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* можно назвать "шаг 2" */
  100% {
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.hello-text {
  margin-top: 20vh;
  font-family: 'Zen Dots', cursive;
  font-size: 1.4rem;
  color: white;
}
.hello-text span {
  color: #ffc400;
}
.my-text {
  margin-top: 3rem;
  font-size: 1.2rem;
  color: white;
  line-height: 30px;
}
hr {
  height: 4px !important;
  background-color: #01939A;
  width: 130%;
}
.welcome-text span {
  color: #ffc400;
}
.bg-blue {
  width: 100%;
  height: 600px;
  background-color: #080a1f;
  color: white;
  padding: 50px 25px 0px 25px;
  position: relative;
}
.personal-info {
  margin-top: 4rem;
}
.personal-info p {
  margin-top: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
.personal-info .personal-info-firstP {
  font-size: 1.2rem;
}
.my-photo-cont {
  text-align: center;
}
.my-photo {
  width: 15vw;
  margin-top: 4rem;
  opacity: 1;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}
.my-photo:hover {
  width: 50%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  width: 15.5vw;
}
.my-photo:not(:hover) {
  width: 15vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.third-section {
  overflow-y: hidden !important;
}
.third-section-bg {
  background-image: url(../img/serv.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 600px;
  background-attachment: fixed;
  overflow-y: hidden !important;
}
.services-inThird-section {
  text-align: center;
  color: whitesmoke;
  font-size: 35px;
  margin-bottom: 10vh;
}
.card-of-servise {
  width: 80% ;
  height: 300px;
  text-align: center;
  color: whitesmoke;
  opacity: 0;
  margin: 0 auto;
  padding-top: 10%;
}
.card-of-servise .circle {
  text-align: center;
  width: 88px;
  height: 88px;
  background-color: #0a7aaa;
  border-radius: 360px;
  line-height: 88px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.card-of-servise .circle-text {
  font-size: 30px;
}
.card-of-servise:hover {
  background-color: rgba(5, 156, 221, 0.4);
  opacity: 0.33;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.card-of-servise:hover .circle {
  line-height: 90px;
  margin-top: -10px;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  margin-bottom: 40px;
}
.card-of-servise:not(:hover) {
  opacity: 0;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}
.card-of-servise:not(:hover) .circle {
  text-align: center;
  width: 88px;
  height: 88px;
  background-color: #059cdd;
  border-radius: 360px;
  line-height: 88px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}
.card-of-servise:not(:hover) .circle-text {
  font-size: 30px;
}
.p-info {
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .logo-wrapper {
    width: 100%;
    height: 60px;
    display: grid;
    padding-left: 15px;
  }
  .burger {
    display: block;
    width: 100%;
    display: grid;
    height: 60px;
  }
  .burger img {
    width: 2rem;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: end;
    position: relative;
    left: -15px;
  }
  .hello-text {
    margin-top: 100px;
    font-family: 'Zen Dots', cursive;
    font-size: 1.4rem;
    color: white;
    text-align: center;
  }
  .hello-text span {
    color: #ffc400;
  }
  .my-text {
    text-align: center;
  }
  .welcome-text {
    text-align: center;
  }
  .first-section-img {
    width: 100%;
    margin-top: 250px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .bg-blue {
    width: 100%;
    height: 100%;
    background-color: #080a1f;
    color: white;
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .my-photo {
    width: 70%;
    margin-top: 2rem;
    margin-left: 0px;
  }
  .my-photo:hover {
    width: 75%;
    margin-top: 2rem;
    margin-left: 0px;
  }
  .my-photo:not(:hover) {
    width: 70%;
    margin-top: 2rem;
    margin-left: 0px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  hr {
    width: 100%;
  }
  .third-section-bg {
    background-image: url(../img/services.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 100%;
  }
  .card-of-servise {
    width: 100%;
    height: 300px;
    text-align: center;
    color: whitesmoke;
    padding-top: 10%;
    margin-bottom: 30px;
  }
  .card-of-servise:hover {
    background-color: rgba(5, 156, 221, 0.4);
    opacity: 0.7;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  .card-of-servise:not(:hover) {
    opacity: 0.8;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  .card-of-servise .circle {
    text-align: center;
    width: 88px;
    height: 88px;
    background-color: #059cdd;
    border-radius: 360px;
    line-height: 88px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .card-of-servise .circle-text {
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    margin-bottom: 30px;
  }
  .card-of-servise p {
    font-size: 1.5rem;
  }
  .p-info {
    margin-top: 15px;
    font-size: 1rem;
  }
  section {
    overflow-y: hidden;
  }
}
