    * {
        box-sizing: border-box;
    }

    @bg-blue: #080B28;

    body {
        overflow-x : hidden;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


    .container-fluid {
        margin : 0;
        padding: 0;
    }

    //  header

    .header_bg {
        background           : url(../img/header_bg.jpg);
        background-size      : 100%;
        background-repeat    : no-repeat;
        height               : 600px;
        background-attachment: fixed;
    }

    .img-overlay {
        width     : 100%;
        height    : 100%;
        background: #080A21E6;
        opacity   : 0, 89;
    }

    .header {
        height       : 60px;
        border-bottom: 1px solid white;
    }


    .logo-wrapper {
        display: grid;
        height : 60px;
    }

    .logo {
        width     : 4rem;
        align-self: center;
    }


    .about {
        width      : 100%;
        display    : grid;
        height     : 60px;
        margin-left: 2rem;

    }

    .about a {
        align-self  : center;
        justify-self: center;

        text-transform : uppercase;
        color          : white;
        font-size      : 1rem;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }


    .services {
        .about;
        margin-right: 2rem;

        & a {
            justify-self: center;

            align-self     : center;
            text-transform : uppercase;
            color          : white;
            font-size      : 1rem;
            text-decoration: none;
        }

        & a:hover {
            color: white;
        }
    }

    .partfolio {
        .about;
        margin-right: 2rem;

        & a {
            justify-self: center;

            align-self     : center;
            text-transform : uppercase;
            color          : white;
            font-size      : 1rem;
            text-decoration: none;
        }

        & a:hover {
            color: white;
        }
    }

    .contact {
        .about;
        margin-right: 2rem;

        & a {
            justify-self: center;

            align-self     : center;
            text-transform : uppercase;
            color          : white;
            font-size      : 1rem;
            text-decoration: none;
        }

        & a:hover {
            color: white;
        }
    }

    .burger {
        display: none;
    }

    .nav-cont {
        width                : 100%;
        height               : 0px;
        background-image     : url(../img/bg-menu2.jpg);
        background-attachment: fixed;
        left                 : 0;
        display              : none;
    }

    .about-mob {
        color     : white;
        display   : block;
        margin-top: 50px;
        font-size : 2.5rem;
        text-transform: uppercase;
    }

    .services-mob{
        .about-mob;
    }
    .partfolio-mob{
        .about-mob;
    }
    .contact-mob{
        .about-mob;
    }

    .rotate360 {
        animation                : mymoveFirst;
        animation-duration       : 1s;
        animation-timing-function: ease-out;
    }

    @keyframes mymoveFirst {
        0% {
            transform: rotate(0deg);
        }

        /* можно назвать "шаг 2" */
        100% {
            transition: transform 1s;
            transform : rotate(360deg);
        }
    }

    .rotate-360 {
        animation                : mymoveSecond;
        animation-duration       : 1s;
        animation-timing-function: ease-out;
    }

    @keyframes mymoveSecond {
        0% {
            transform: rotate(0deg);
        }

        /* можно назвать "шаг 2" */
        100% {
            transition: transform 1s;
            transform : rotate(-360deg);
        }
    }

    //2-section



    .bg-blue {
        width           : 100%;
        height          : 300px;
        background-color: @bg-blue;
        color           : white;
        text-align      : center;
        font-size       : 36px;
        padding-top     : 50px;
    }


    @media screen and (min-width:768px) and (max-width:1920px) {}



    @media screen and (max-width:767px) {

        body {
            overflow-x : hidden;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .header_bg {
            background           : url(../img/header_bg.jpg);
            background-size      : 350%;
            background-repeat    : no-repeat;
            height               : 700px;
            background-attachment: fixed;
        }


        .logo-wrapper {
            width  : 100%;
            height : 60px;
            display: grid;

        }

        .logo {
            width     : 3rem;
            align-self: center;

        }


        .about {
            display: none;
        }

        .services {
            display: none;
        }

        .partfolio {
            display: none;
        }

        .contact {
            display: none;
        }

        .burger {
            display: block;
            width  : 100%;
            display: grid;
            height : 60px;

            & img {
                width       : 2rem;
                align-self  : center;
                justify-self: end;

            }
        }
    }