* {
    box-sizing: border-box;
}

@blue-background: #080A1F;;
@yellow-text: #ffc400;;


.row{
    --bs-gutter-x: 0rem;
}

body {
    font-family: 'Days One', sans-serif;
    overflow-x: hidden;
}

.container-fluid {
    margin: 0;
    padding: 0;
}





@keyframes mymoveFirst {
    0% {
        transform: rotate(0deg);
    }

    /* можно назвать "шаг 2" */
    100% {
        transition: transform 1s;
        transform: rotate(360deg);
    }
}

.rotate-360 {
    animation: mymoveSecond;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes mymoveSecond {
    0% {
        transform: rotate(0deg);
    }

    /* можно назвать "шаг 2" */
    100% {
        transition: transform 1s;
        transform: rotate(-360deg);
    }
}

.hello-text {
    margin-top: 20vh;
    font-family: 'Zen Dots', cursive;
    font-size: 1.4rem;
    color: white;
}

.hello-text span {
    color: #ffc400;
}

.my-text {
    margin-top: 3rem;
    font-size: 1.2rem;
    color: white;
    line-height: 30px;
}

hr {
    height: 4px !important;
    background-color: #01939A;
    width: 130%;
}



.welcome-text span {
    color: @yellow-text;
}



.bg-blue {
    width: 100%;
    height: 600px;
    background-color:    @blue-background;
    ;
    color: white;
padding: 50px 25px 0px 25px; 
   position: relative;
}

.personal-info {
    margin-top: 4rem;
}

.personal-info p {
    margin-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.personal-info .personal-info-firstP {
    font-size: 1.2rem;
}

.my-photo-cont {
    text-align: center;
}

.my-photo {
    width: 15vw;
    margin-top: 4rem;
    opacity: 1;
    transition-duration: 2s;
    &:hover {
        width: 50%;
        transition: 1s ease-in-out;
        width: 15.5vw;
    }
    
    &:not(:hover) {
        width: 15vw;
        transition: 0.5s;
    }
}





/// Third section
.third-section{
    overflow-y: hidden !important;
}


.third-section-bg {
    background-image: url(../img/serv.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 600px;
    background-attachment: fixed;
    overflow-y: hidden !important;

}

.services-inThird-section {
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    margin-bottom: 10vh;
}

.card-of-servise {
    width: 80% ;
    height: 300px;
    text-align: center;
    color: whitesmoke;
    opacity: 0;
 margin: 0 auto;
    padding-top: 10%;

    .circle{
        text-align: center;
        width: 88px;
        height: 88px;
        background-color:rgb(10, 122, 170) ;
        border-radius: 360px;
        line-height: 88px;
        margin: 0 auto;
        margin-bottom: 30px;

    }
    .circle-text{
        font-size: 30px;
    }

    &:hover {
        background-color: rgba(5, 156, 221, 0.4);
        opacity: 0.33;
        transition: 0.5s ease-in;

        .circle{
        
            line-height: 90px;
            margin-top: -10px;
            transition: 500ms ease-in-out;
            margin-bottom: 40px;

        }
      
    }
    &:not(:hover) {
        opacity: 0;
        transition: 0.5s ease-in;

        .circle{
                 text-align: center;
        width: 88px;
        height: 88px;
        background-color:rgb(5, 156, 221) ;
        border-radius: 360px;
        line-height: 88px;
        margin: 0 auto;
        margin-bottom: 30px;
            transition: 500ms ease-in-out;

        }
        .circle-text{
            font-size: 30px;

        }

    }
  
}

.p-info{
    margin-top: 15px;
}









@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

   
    .logo-wrapper {
        width: 100%;
        height: 60px;
        display: grid;
        padding-left: 15px;
    }

 
    .burger {
        display: block;
        width: 100%;
        display: grid;
        height: 60px;
    }

    .burger img {
        width: 2rem;
        align-self: center;
        justify-self: end;
        position: relative;
        left: -15px;
    }

    .hello-text {
        margin-top: 100px;
        font-family: 'Zen Dots', cursive;
        font-size: 1.4rem;
        color: white;
        text-align: center;
    }

    .hello-text span {
        color: #ffc400;
    }

    .my-text {
        text-align: center;
    }

    .welcome-text {
        text-align: center;
    }

    .first-section-img {
        width: 100%;
        margin-top: 250px;
        transition-duration: 1s;
    }

    .bg-blue {
        width: 100%;
        height: 100%;
        background-color: @blue-background;
        color: white;
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .my-photo {
        width: 70%;
        margin-top: 2rem;
        margin-left: 0px;
    }
    .my-photo:hover {
        width: 75%;
        margin-top: 2rem;
        margin-left: 0px;
    }
    .my-photo:not(:hover) {
        width: 70%;
        margin-top: 2rem;
        margin-left: 0px;
        transition-duration: 1s;
    }

    hr {
        width: 100%;
    }


//// third section

    .third-section-bg {
        background-image: url(../img/services.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        height: 100%;
    }

    .card-of-servise {
        width: 100%;
        height: 300px;
        text-align: center;
        color: whitesmoke;
        padding-top: 10%;
        margin-bottom: 30px;

    
        &:hover {
            background-color: rgba(5, 156, 221, 0.4);
            opacity: 0.7;
            transition: 0.5s ease-in;
        }
        &:not(:hover) {
            opacity: 0.8;
            transition: 0.5s ease-in;
        }
        .circle{
            text-align: center;
            width: 88px;
            height: 88px;
            background-color:            rgb(5, 156, 221);
            ;
            border-radius: 360px;
            line-height: 88px;
            margin: 0 auto;
            margin-bottom: 30px;
    
        }
  
        .circle-text{
            text-align: center;
            color: whitesmoke;
            font-size: 35px;
            margin-bottom: 30px;     
           }
           p{
            font-size: 1.5rem;
           }
    }
    .p-info{
        margin-top: 15px;
        font-size: 1rem;
    }

  section{
      overflow-y: hidden;
  }
    
}